<header class="navbar navbar-light sticky-top flex-md-nowrap p-0">
  <a class="navbar-brand col-md-3 col-lg-2 mb-3 px-3 fs-6" href="/">
    <div class="logo-small"><img src="assets/images/angular2-logo.png"></div>
    <span class="company">CHEFDOG</span>
    <hr>
  </a>

  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="container-fluid border-bottom">
    <div class="page-title float-start col-4">
      <h1>Dashboard</h1>
    </div>

    <div class="col-6">

      <div class="search">
        <div class="input-group no-border">
          <input class="form-control form-control-dark" type="text" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="pi pi-search"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-2">
      <ul class="navbar-nav float-end">
        <div class="nav-item">
          <a class="nav-link px-3" href="#">Sign out</a>
        </div>
      </ul>
    </div>
    
  </div>
  


</header>