
  /*
   * Navbar
   */
   .navbar {      
      padding: 8px 0 8px 0;
      justify-content: left;
   }

   .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-bottom: 1px;
  }
  
  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
  }
    
  .feather {
    width: 16px;
    height: 16px;
  }
  
  